!!! 5
%html
  %head
    %title BART Times
    %link{ :rel => 'stylesheet', :href => '/jquery.mobile-1.0a3.css', :type => 'text/css' }
    %script{ :src => '/jquery-1.5.min.js' }
    %script{ :src => '/barttimes.js' }
    %script{ :src => '/jquery.mobile-1.0a3.min.js' }
    :javascript
      function timedRefresh(timeoutPeriod) {
        setTimeout("location.reload(true);",timeoutPeriod);
        }


  = yield

