%div{:"data-role" => 'page'}
  %div{:"data-role" => 'header', :"data-theme" => 'b' }
    %h1{:role => 'heading'}
      = @station.name
    %a{ :href => '/', :rel => 'external' } Home
  %div{:"data-role" => 'content'}
    %ul{:"data-role" => 'listview', :"data-theme" => 'b', :"data-inset" => 'true'}
      - @station.load_departures
      - unless @station.departures.empty?
        - @station.departures_by_platform.map do |d|
          %li{:"data-role" => 'list-divider'}
            = d.destination.name
            - d.estimates.map do |e|
              %li{:"data-theme" => 'c'}
                = e.zero_means_arriving(e.minutes) + ' :: ' + e.length.to_s + ' car train'
      - else 
        %li No current prediction
